<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory suffix=".blade.php">./src/</directory>
    </exclude>
    <report>
      <html outputDirectory="build/html-coverage" lowUpperBound="50" highLowerBound="90"/>
      <xml outputDirectory="build/xml-coverage"/>
      <clover outputFile="build/logs/clover.xml"/>
      <text outputFile="build/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
      <php outputFile="build/coverage.php"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Test Suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
