<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true" beStrictAboutTestsThatDoNotTestAnything="false" processIsolation="false" stopOnError="false" stopOnFailure="false" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage>
    <report>
      <html outputDirectory="build/html-coverage" lowUpperBound="50" highLowerBound="90"/>
      <xml outputDirectory="build/xml-coverage"/>
      <clover outputFile="build/logs/clover.xml"/>
      <text outputFile="build/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
      <php outputFile="build/coverage.php"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Test Suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory suffix=".blade.php">./src/</directory>
    </exclude>
  </source>
</phpunit>
